body{
      font-family: "Poppins";

}
.title{

      text-align: center;
}
#chart {
      background: red;
}

#country{
      margin-left: 50%;
      transform: translate(-50%);
      height: 30px;
      padding: 10px;
      box-sizing: border-box;
      border: 2px solid blue;
}
